*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

.line{
    background-color: #CC0101;
    padding-top: 1px;
}

.hidden{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#header{
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

nav {
    display: flex;
    padding: 0.5% 8%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: rgba(230, 224, 224, 0.466);
}

nav img {
    height: 80px;
    width: 80px;
}

nav .fa-solid {
    display: none;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #CC0101;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links i .fa-solid::before{
    display: none;
}

.nav-links ul li:hover::after {
    width: 100%;
    height: 2px;
}


.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 240px;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    color: white;
    text-align: center;
}

.content h1{
    font-size: 90px;
    line-height: 85px;
}

.content h2{
    font-size: 40px;
    line-height: 85px;
}

.content span {
    font-size: 70px;
}

.content button {
    background-color: rgb(247, 119, 0);
    color: #fff;
    font-size: 20px;
    padding: 20px 40px;
    cursor: pointer;
    border: none;
}

.content button a {
    text-decoration: none;
    color: #fff;
}


.content button:hover {
    background-color: rgb(250, 110, 0);
    border: none;
}

/* -------------- About Us --------------- */

.about-con {
    padding: 40px 100px 0 100px;
    text-align: center;
}

.title-page {
    font-size: 40px;
    color: #CC0101;
    text-align: center;
    filter: drop-shadow(1px 1px 23px #CC0101 );
}

.con-1 {
    margin: 40px;
    justify-content: center;
    display: flex;
    gap: 60px;
    align-items: center;
}

.our-com {
    background: #ffffff;
    border-radius: 10px;
    width: 550px;
    padding: 20px;
    color: #000;
    box-shadow: 4px 2px 19px 4px #ffd6d6;
}

.our-com h1{
    padding-bottom: 15px;
    text-transform: uppercase;
}

.our-com img{
    height: 200px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.our-all{
    gap: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.o-mission, .o-vission, .o-value {
    background: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    color: #000;
    box-shadow: 4px 2px 19px 4px #ffd6d6;
}

.o-mission h1, .o-vission h1, .o-value h1 {
    text-transform: uppercase;
}

/* --------- Why Us -------- */
.col-2 {
    background-image: url(../img/whyus_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;  /* Image will cover the entire div */
    background-position: center;
}

.col-2_con {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.bg {
    background: rgba(204, 202, 202, 0.808);
    padding: 40px 0  40px 0;
}

.bg h2 {
    text-align: center;
    width: 100%;
}

.why-div  {
    text-align: center;
    box-shadow: 10px 15px #ffc2c2;
    padding: 20px 20px;
    border-radius: 10px;
    width: 250px;
    background: #ffffff;
}

.why-div:hover {
    background: #cc0101ab;
    color: white;
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    transition:all 0.3s/* Make text white on hover */
}

.why-div:hover h3, 
.why-div:hover p {
    color: white; /* Ensure that both the heading and paragraph text turn white */
}

.why-div .oneImg, .why-div .twoImg {
    transition: filter 0.3s ease; /* Smooth transition for the image */
}

.why-div:hover .oneImg, .why-div:hover .twoImg {
    filter: drop-shadow(1px 1px 20px white); /* Change the image filter on hover */
}

.why-div .oneImg {
    height: 60px;
    width: 60px;
    padding: 10px 0 10px 0;
    filter: drop-shadow(1px 1px 20px #CC0101 );
}

.why-div .twoImg {
    height: 40px;
    width: 50px;
    padding: 20px;
    padding-bottom: 20px;
    filter: drop-shadow(1px 1px 20px #CC0101 );
}

.why-con {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.why-con p {
    font-size: 14px;
}

.why-con h3 {
    font-size: 16px;
}


/* ---------- Services -------- */

#services {
    padding: 50px 100px 0 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

#services h1,h2{
    text-align: center;
    margin-bottom: 10px;
}

.services-con{
    align-items: center;
}

.ul1 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 30px;
    gap: 10px;
}

.ul1 li a {
    text-decoration: none;
    color: #000;
}

/* --------- Gallery -------- */

#gallery {
    margin: 0 0 40px 0;
}

.gallery-con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gallery-con p{
    font-size: 20px;
    font-weight: 300;
    padding: 10px 20px;
}

.gallery-con h1{
    margin-top: 40px;
}

.gallery-deal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.deal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    cursor: pointer;
}

.deal:hover {
    transition: all 0.3s ease;
    border-radius: 5px;
    box-shadow: -1px -1px 86px 2px rgba(196, 1, 1) inset;
    -webkit-box-shadow: -1px -1px 86px 2px rgba(196, 1, 1) inset;
    -moz-box-shadow: -1px -1px 86px 2px rgba(196, 1, 1) inset;
}


.deal button {
    border: none;
    background-color: rgb(247, 119, 0);
    color: #fff;
    width: 200px;
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.deal button:hover {
    background-color: rgb(250, 110, 0);
    border: none;
}

.deal img{
    height: 200px;
    width: 320px;
    border-radius: 5px;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.3s ease; 
    align-items: center;
    animation: 0.4s ease-out zoomIn;
}

@-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    100% {
      opacity: 1;
    }
}
  
@keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    margin: 0 200px;
    max-width: 700px;
}

.modal-con {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.col-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.col-1 span{
    color: #000;
}

.col-1 button {
    background-color: rgb(247, 119, 0);
    color: #fff;
    font-size: 15px;
    border: none;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 30px;
}

.col-1 button a{
    color: #fff;
    font-size: 15px;
    border: none;
    width: fit-content;
    text-decoration: none;
    padding: 5px 30px;
}

.modal-content h3{
    font-size: 16px;
}

.modal-content img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.close-btn {
    color: #CC0101;
    border: none;
    padding: 3px 10px;
    background: none;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    text-align: end;
}


/* Footer */
footer {
    background-color: #CC0101;
    padding-top: 1px;
    width: 100%;
}
  
.con-footer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #fff;
      padding: 18px;
 }
  
.support1 {
      color: #000;
      font-size: 18px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.con-footer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-size: 15px;
    color:#fff;
    gap: 10px;
}
  
span {
    color: #ccc;
}
  
.con-footer2 a, strong{
    text-decoration: none;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social2_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.social2_wrapper h2 {
    color: #000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social2{ 
    display: flex;
    gap: 30px;
    margin: 0; 
    padding: 0; 
    list-style: none;
}

.social2 li a{
    display: block; 
    width: 39px; 
    height: 39px; 
    text-decoration: none; 
    background-repeat: no-repeat;
    transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}

.social2 li a:hover{
    background-position: bottom;
}

.social2 li.nav1 a{
    background-image: url(../img/social_ic1.png);
    border-radius: 5px;
}

.social2 li.nav3 a{
    background-image: url(../img/social_ic3.png);
    border-radius: 5px;
}

.f-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 205px;
    gap: 20px;
}

.f-logo img {
    width: 120px;
    height: 120px;
    border-radius: 2px;
}

.f-logo p {
    text-align:justify;
    color: #E2DFD0;
}

/* --------- Contact --------- */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px 40px;
    padding-top: 20px;
    gap: 20px;
}

.c-p {
    text-align: center;
    font-size: large;
    font-weight: 600;
    padding: -10px;
}

.contact-con {
    display: flex;
    justify-content: space-around;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.map iframe {
    width: 500px;
    height: 400px;
}


/* Address */
.address {
    display: flex;
}

.address-con h4 {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #CC0101;
}

.address-con p{
    padding-left: 25px;
}

.address-con p a{
    text-decoration: none;
    color: #000;
}


/* Contact Form */
.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
    gap: 5px;
}

.contact-form h1 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    color: #CC0101;
}

.form-group label {
    font-size: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
}


.form-group input, select, textarea{
    border: 1px solid lightgray;
    appearance: none;
}

select[type=text],
textarea[type=text],
input[type=text],
input[type=date],
input[type=number],
input[type=email] {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px;
    outline: none;
    cursor: pointer;
}


select[type=text]:focus,
textarea[type=text]:focus,
input[type=text]:focus,
input[type=date]:focus,
input[type=number]:focus,
input[type=email]:focus {
    border: 1px solid lightgray;
}

.form-group label {
    font-size: 12px;
    margin-bottom: 5px;
    color: #3C3D37;
}

.form-group label span {
    color: red;
}

textarea {
    padding-left: 15px;
    padding-top: 15px;
}

.form-group button {
    width: fit-content;
    padding: 10px 40px;
    color: #fff;
    background-color: #CC0101;
    display: block;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    border: 0;
    font-size: 15px;
}

.custom-select {
    border-radius: 5px;
}

.custom-select select {
    appearance: none;
    width: 100%;
    height: 35px;
    font-size: 12px;
    padding-left: 15px;
    color: #3C3D37;
    cursor: pointer;
  }
  
  .custom-select::before,
  .custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
  }
  
  .custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
  }
  
  .custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
  }

  
/* General error message styling */
.error-message {
    color: red;
    display: none; /* Hide error messages by default */
    font-size: 0.875em;
    margin-top: 4px;
}

/* Styling for fields with errors */
.error {
    border: 1px solid red;
}


.gotopbtn {
    position: fixed;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #CC0101;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
}

.gotopbtn.show {
    display: block; /* Show the button when scrolled past header */
}